@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  background-color: #f7e2a3;
  font-family: poppins, sans-serif;
}

/* nav {
  position: sticky;
  background-color: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  overflow: hidden;
} */

main .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.menu img {
  height: 85px;
  width: 115px;
  margin: 0;
  margin-bottom: -20px;
  margin-top: -20px;
  margin-left: -20px;
}

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  margin-left: 7px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.4 ease;
}

.menu ul li a:hover {
  background: #fff;
  color: black;
  transition: all ease 800ms;
}

*/ html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.1%;
  height: 60%;
  margin-bottom: 20px;
  padding: 0 35px;
}

.card {
  background-color: #ffda6b;
  color: #fff;
  border-radius: 5%;
}

img {
  width: 75%;
  height: 90%;
  border-radius: 5%;
  margin-left: 12%;
  margin-top: 5%;
}

.about-section {
  text-align: center;
  color: white;
}

.container_v {
  padding-top: 5%;
  margin-left: 10%;
}

.container_v,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container_d {
  padding-top: 5%;
  margin-left: 10%;
}

.container_d,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.insta {
  margin-left: -1%;
  width: 12%;
  margin-top: -3px;
  padding-bottom: 5%;
}

p {
  color: #fff;
}

.footer1 {
  padding: 5%;
  margin-left: 10%;
  margin-top: 20%;
  color: black;
}

.footer2 {
  margin-top: -4%;
  align-items: stretch;
  color: black;
}

.about-section2 {
  background-color: #ffda6b;
  width: 100%;
  text-align: center;
  color: white;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}