@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

nav {
  position: sticky;
  background-color: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  overflow: hidden;
}

nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.menu img{
    height: 85px;
    width: 115px;
    margin: 0;
    margin-bottom: -22px;
    margin-top: -12px;
    margin-left: -20px;
  }

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  /* margin-left: 7px; */
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.4 ease;
}

.menu ul li a:hover {
  background: #fff;
  color: black;
  transition: all ease 800ms;
}  

/* ivan css */
body {
    background-color: #efe0b6;
    color: darkorange;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: block;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #ffda6b;
    width: 400px;
    height: 465px;
    margin-left: 425px;
    padding: 0;
    border-radius: 15px;
    /* margin-top: 5%; */
}

.container h1 {
    text-align: center;
    margin-bottom: 10px;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 85%;
    background: #d3a519;
    padding: 15px;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 30px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 10px;
    margin-left: 55px;
}

.form-control {
    /* position: relative; */
    width: 300px;
    margin-top: 10%;
}

.form-control h3{
    margin-left: 30px;
    margin-top: 10px;
}

.form-control input {
    background-color: transparent;
    /* background-color: #303030; */
    border: 0;
    border-bottom: 2px #fff solid;
    width: 100%;
    padding: 15px 0;
    margin-left: 30px;
    font-size: 18px;
    color: #f59561;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: #f59561;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: lightblue;
    font: bolder;
    transform: translateY(-30px);
}

.form-control #eci{
    cursor: pointer;
    margin: 0;
    margin-left: 330px;
    margin-top: -50%;
    margin-bottom: 8%;
    background-color: #d3a519;
    padding: 10px;
    border-radius: 12px;
    width: 14.2%;
    height: 5%;
} 

/* #eci {
    margin-left: 335px;
    margin-bottom: 50px; 
    margin-top: 5%; 
    width: 10%;
    height: 5%;
} */

#eci:active {
    transform: scale(1.1);
}

/* DHRUV CSS
body{
    background-color: #f8e9bc;
}

.adminlogin{
    background-color: #ffda6b;
    padding: 50px;
    color: #fff;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 6%;
    border: none;
    border-radius: 10px;
    outline: none;
}

.adminlogin img{
    cursor: pointer;
    margin: 0;
    margin-left: 269px;
    margin-top: -100px;
    padding-bottom: 16px;
    padding: 10px;
    border-radius: 10px;
}

h3{
    margin-left: 10%;
}
*/