@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

nav {
  position: sticky;
  background-color: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  overflow: hidden;
}

nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  /* margin-left: 7px; */
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.4 ease;
}

.menu ul li a:hover {
  background: #fff;
  color: black;
  transition: all ease 800ms;
}