@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url("_gif/Forget_Password.jpg");
    background-size: 650px;
    background-repeat: no-repeat;
}

nav{
    position: sticky;
    background-color: #1b1b1b;
    width: 99.7%;
    padding: 10px 2px;
    z-index: 12;
}

nav .menu{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.logo img{
    height: 85px;
    width: 115px;
    margin: 0;
    margin-bottom: -22px;
    margin-top: -10px;
    margin-left: -22px;
  }

.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style: none;
    margin-left: 7px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.4 ease;
}

.menu ul li a:hover{
    background: #fff;
    color: black;
}

.fp #fpmail{
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #64a5ff;
    color: #fff;
}

.fp #sotp{
    background-color: #1b2e35;
    color: #fff;
    margin-left: 1%;
    height: 39px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
}

.fp #sotp:active{
    transform: scale(0.98);
    transition: all 5m ease;
}

.fp{
    background-image: url("_gif/forget_password_icon 2.png");
    background-color: #a6c9ff;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 125px;
    border-radius: 10px;
    margin-top: 65px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 710px;
    padding-top: 110px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.fp:hover{
    transform: scale(1.01);
    transition: all 500ms ease;
}