nav {
    position: relative;
    background-color: #1b1b1b;
    /* width: 100%; */
    padding: 10px 2px;
    z-index: 12;
}

nav .menu {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

img {
    height: 500px;
}

.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.menu img {
    height: 85px;
    width: 115px;
    margin: 0;
    margin-bottom: -22px;
    margin-top: -12px;
    margin-left: -20px;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.4 ease;
}

.menu ul li a:hover {
    background: #fff;
    color: black;
    transition: all 500ms ease;
}